{% extends "auth_AM/base.html" %} {% load static %} {% block title %}
<title>Reset Password complete</title>
{% endblock title %} {% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock stylesheet %} {% block content %}
<main class="wrapper">
  <div class="container">
    <h1>Password Reset Request Sent</h1>
    <p>If there is an account associated with the provided email, you will receive a password reset email shortly. Please check your inbox and follow the instructions to reset your password.</p>
    <a href="{% url 'signin_page' %}">Return to login</a>
</div>
</main>
{% endblock content %} {% block script %}
{% endblock script %}
